In [1]:
import numpy as np
import pandas as pd

In [2]:
match=pd.read_csv('matches.csv')
delivery=pd.read_csv('deliveries.csv')

In [3]:
data=match.merge(delivery,left_on='id',right_on='match_id') #merging the two datasets

In [4]:
data #checking the datasets

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN
10,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
12,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
13,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
14,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
15,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
16,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
17,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
18,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
19,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
20,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
21,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
22,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
23,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
24,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
25,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
26,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
27,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
28,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150430,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150431,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150432,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,KL Rahul,bowled,NaN
150433,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150434,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150435,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150436,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150437,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150438,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,SR Watson,caught,MC Henriques
150439,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150440,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150441,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150442,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150443,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150444,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150445,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150446,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150447,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150448,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,STR Binny,run out,DJ Hooda
150449,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150450,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150451,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150452,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150453,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150454,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150455,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [5]:
data.columns #checking the columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3', 'match_id', 'inning', 'batting_team', 'bowling_team', 'over',
       'ball', 'batsman', 'non_striker', 'bowler', 'is_super_over',
       'wide_runs', 'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [6]:
runs=data.groupby('batsman')['batsman_runs'].sum()
mask=(data['wide_runs']==0) & (data['noball_runs']==0)
balls=data[mask].groupby('batsman')['ball'].count()
dismissed=data.groupby('batsman')['player_dismissed'].count()
criteria=balls>100
runs=runs[criteria]
balls=balls[criteria]
dismissed=dismissed[criteria]
batsman_avg=runs/dismissed
batsman_strike_rate=runs*100/balls #calculated the strike rate and average runs of the batsman who faced atleast 100 balls

In [7]:
runs=data.groupby('bowler')['total_runs'].sum()
mask1=(data['wide_runs']==0) & (data['noball_runs']==0)
balls=data[mask1].groupby('bowler')['ball'].count()
dismissal=['caught','bowled','lbw','stumped','caught and bowled','hit wicket']
out=data[data['dismissal_kind'].isin(dismissal)]
wickets=out.groupby('bowler')['dismissal_kind'].count()
criteria=balls>100
wickets=wickets[criteria]
runs=runs[criteria]
balls=balls[criteria]
bowler_average=runs/wickets
bowler_economy=runs*6/balls  #calculated the average runs and economy rate of the bowlers who faced atleast 100 balls

In [8]:
batsman_average_mean=batsman_avg.mean()
batsman_sr_mean=batsman_strike_rate.mean()
bowler_average_mean=bowler_average.mean()
bowler_economy_mean=bowler_economy.mean()   #means calculated

In [9]:
batsman_average_sd=batsman_avg.std()
batsman_sr_sd=batsman_strike_rate.std()
bowler_average_sd=bowler_average.std()
bowler_economy_sd=bowler_economy.std()  #standard deviation calculated

In [10]:
#function calculating the batsman average

def batsman_avg(batsman):
    mask=data['batsman']==batsman
    total_run=int(data[mask].groupby('batsman')['batsman_runs'].sum())
    mask1=(data['player_dismissed']==batsman) | ((data['non_striker']==batsman) & (data['player_dismissed']==data['non_striker']))
    total_times_dismissed=data[mask1].groupby('batsman')['player_dismissed'].count().max()
    return total_run/total_times_dismissed

In [11]:
#function calculating the batsman strike rate

def batsman_strike_rate(batsman):
    mask=data['batsman']==batsman
    total_run=int(data[mask].groupby('batsman')['batsman_runs'].sum())
    mask1=(data['batsman']==batsman) & (data['wide_runs']==0) & (data['noball_runs']==0)
    balls_faced=int(data[mask1].groupby('batsman')['ball'].count())
    return total_run/balls_faced*100

In [12]:
#function calculating the average of a bowler

def bowler_average(bowler):
    mask=data['bowler']==bowler
    runs=int(data[mask].groupby('bowler')['total_runs'].sum())
    dismissal=['caught','bowled','lbw','stumped','caught and bowled','hit wicket']
    mask1=(data['bowler']==bowler) & (data['dismissal_kind'].isin(dismissal))
    wickets=int(data[mask1].groupby('bowler')['dismissal_kind'].count())
    return runs/wickets

In [13]:
#function calculating the economy rate of a bowler

def bowler_economy_rate(bowler):
    mask=data['bowler']==bowler
    runs=int(data[mask].groupby('bowler')['total_runs'].sum())
    mask1=(data['bowler']==bowler) & (data['wide_runs']==0) & (data['noball_runs']==0)
    balls=int(data[mask1].groupby('bowler')['ball'].count())
    return runs*6/balls

In [14]:
#final function calculating who is a better player between a bowler and a batsman

def better_player():
    batsman=input("Enter the batsman's name : ")
    bowler=input("Enter the bowler's name : ")
    bat_avg=batsman_avg(batsman)
    bat_sr=batsman_strike_rate(batsman)
    bowl_avg=bowler_average(bowler)
    bowl_eco=bowler_economy_rate(bowler)
    z_batsman_average=(float(bat_avg)-float(batsman_average_mean))/float(batsman_average_sd)
    z_batsman_sr=(float(bat_sr)-float(batsman_sr_mean))/float(batsman_sr_sd)
    
    z_bowler_average=(float(bowl_avg)-float(bowler_average_mean))/float(bowler_average_sd)
    z_bowler_economy=(float(bowl_eco)-float(bowler_economy_mean))/float(bowler_economy_sd)
    
    z_batsman=(float(z_batsman_average)+float(z_batsman_sr))/2
    z_bowler=abs((float(z_bowler_average)+float(z_bowler_economy))/2)
    
    if z_batsman>z_bowler:
        print(batsman,"is a better T20 player than",bowler,".")
    elif z_bowler>z_batsman:
        print(bowler,"is a better T20 player than",batsman,".")
    else:
        print("Both players are of same standard, no comparisons could be made.")

In [15]:
better_player()

Enter the batsman's name : KM Jadhav
Enter the bowler's name : SP Narine
SP Narine is a better T20 player than KM Jadhav .

In [16]:
better_player()

Enter the batsman's name : V Kohli
Enter the bowler's name : Harbhajan Singh
V Kohli is a better T20 player than Harbhajan Singh .